@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("./../fonts/Lato-Regular.woff2") format("woff2"),
    url("./../fonts/Lato-Regular.woff") format("woff"),
    url("./../fonts/Lato-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("./../fonts/Lato-Bold.woff2") format("woff2"),
    url("./../fonts/Lato-Bold.woff") format("woff"),
    url("./../fonts/Lato-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url("./../fonts/Lato-Black.woff2") format("woff2"),
    url("./../fonts/Lato-Black.woff") format("woff"),
    url("./../fonts/Lato-Black.ttf") format("ttf");
  font-display: swap;
}